html,
body {
  margin: 0;
  padding: 0;
  background: grey;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.freddie-logo {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.container {
  padding: 12px;
  width: 400px;
  border-radius: 15px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 50px;
  margin-left: 150px;
  background: rgba(27, 25, 36, 1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h1 {
  width: 272px;
  height: 25px;
  top: 158px;
  left: 59px;
  font-family: Josefin Sans;
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

h2 {
  width: 160px;
  height: 20px;
  top: 418px;
  left: 114px;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 20px auto;
}

.input {
  width: 320px;
  height: 120px;
  border-radius: 8px;
  background: rgba(68, 64, 89, 1);

  border: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

button {
  width: 317;
  height: 61;
  top: 333;
  left: 36;
  border-radius: 8;
  background: rgba(40, 169, 241, 1);
  margin-top: 10px;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
}

.endorsement-display,
.endorsement-display2 {
  width: 320px;
  height: 100px;
  top: 457px;
  left: 37px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 8px auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
}

